.navbar {
    width: 60px;
    position: fixed;
    top: 10vh;

    display: flex;
    flex-direction: column;
    transition: left 0.3s ease, right 0.3s ease;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    color: #333;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.navbar a:hover {
    background-color: #ddd;
}

.navbar a svg {
    font-size: 1.8rem;
}


.navbar-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #333;
    text-decoration: none;

    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;

    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.navbar-icon-box:hover {
    background-color: #ddd;
    color: #000;
}

.navbar-icon-box svg {
    font-size: 1.5rem;
}



.navbar-icon-text {
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 768px) {

}
