.group-invite-modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-height: 60vh;
    overflow-y: auto;
    z-index: 1001;
    display: flex;
    flex-direction: column;
}

.group-invite-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease !important;
    color: #6b6b6b;
    font-size: 30px !important;
}

.group-invite-close-button:hover {
    outline: none;
    background-color: #ffffff !important;
    color: #000000;
    transform: scale(1.3);
}

.group-invite-membership-box-with-title {
    flex: 1;
    margin-top: 30px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.group-friend-list-invite {
    display: flex;
    flex-direction: column;
}

.group-membership-item-friend-invite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 10px;
    cursor: pointer;
}

.group-membership-item-friend-invite:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}






.group-membership-item-friend-header-invite {
    display: flex;
    align-items: center;
}
.group-membership-item-friend-details-invite {
    margin-left: 10px;
}
.group-membership-item-friend-details-invite a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.group-membership-item-friend-details-invite p {
    margin: 0;
    color: #666;
}











.group-invite-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.group-invite-button-container button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.group-invite-button-container button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}
.group-invite-button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}










.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.custom-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50%;
    border: 2px solid #ccc;
    position: relative;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:hover + .checkmark {
    background-color: #ebebeb;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #42a5f5;
    border-color: #42a5f5;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: block;
}







.custom-checkbox input[type="checkbox"]:disabled + .checkmark {
    background-color: rgba(66, 165, 245, 0.3);
    border-color: rgba(66, 165, 245, 0.3);
    cursor: not-allowed;
}



/* shadow of the choose icon (ban sign) */
.custom-checkbox .checkmark::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: block;
}
.custom-checkbox.disabled {
    cursor: not-allowed;
}





