.group-more-options {
    position: absolute;
    top: 50px;  /* control the up and down */
    left: -18px; /* control the left and right (+: right, -:left)*/
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 190px;
}

.group-more-options button {
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    transition: background-color 0.2s ease;
    font-size: 18px;
    font-weight: 550;

}

.group-more-options button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.group-more-options-icon-spc {
    font-size: 20px;
}