.group-member-member-list-content {
    position: absolute;
    top: 50px;
    right: -10px; /* -:right, +:left */
    width: 420px; /* real width of the box */
    max-height: 600px;
    overflow-y: auto;

    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    border-radius: 8px;
}

.group-member-group-member-list {
    overflow-y: auto;
    max-height: 430px;
    margin-bottom: 10px;
}



.group-invite-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}








.group-member-fixed-add button {
    background-color: #d0eaff;
    color: #333;
    border: none;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.group-member-fixed-add button:hover {
    background-color: #b0d4ff;
    transform: translateY(-2px);
}

.group-member-fixed-add button:active {
    background-color: #85aef6;
    transform: translateY(2px);
}
