.group {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 18px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	width: 250px;  	/*width of one group box*/
	height: 200px;	/*height of one group box*/
}
.group:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}





/* box include background image and group name, also with hyper link to a specific group page*/
.group-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;

	/*border: 1px solid black;*/
}


/* group name and other text information */
.group-creator-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.group-creator-details a {
	margin: 0;
	font-size: 1rem;
}
.group-creator-details p {
	margin: 0;
	color: #888;
	font-size: 0.875rem;
}




/* group figure box */
.one-group-background-image {
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 22px;
	border-radius: 8px;
}
/* group figure */
.one-group-background-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}





.group-footer {
	display: flex;
}
