.group-post {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.group-post-content-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.group-post-content-img {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.group-post-content-img img {
	max-width: 100%;
	max-height: 500px;
	height: auto;
	border-radius: 8px;
	object-fit: cover;
}




.group-post-user-email {
	text-decoration: none;
	color: #333;
}

.group-post-header:hover .group-post-user-email {
	text-decoration: none;
	color: #17a2b8;
}

.group-post-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}






.group-post-user-details h3 {
	margin: 0;
	font-size: 1rem;
}

.group-post-user-details p {
	margin: 0;
	color: #888;
	font-size: 0.875rem;
}

.group-post-content {
	margin-bottom: 10px;
	word-break: break-word;
}






/* button box: contain all the group post function buttons */
.group-post-footer {
	display: flex;
}
.group-post-button {
	align-self: center;
	background-color: #ffffff;
	color: #8a8a8a;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 18px;
	padding: 0 15px 0 15px;
	border: none !important; /* avoid the influence of father css */
	transition: color 0.3s ease, background-color 0.3s ease;
}
.group-post-button svg {
	margin-right: 4px;
	/*border: 1px solid black;*/
}
.group-post-button:hover {
	color: #212121;
}









.group-post-add-comment {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.group-post-add-comment input {
	flex: 1;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.group-post-add-comment button {
	background-color: #17a2b8;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 3px;
}
.group-post-add-comment button:hover {
	background-color: #0056b3;
}






@media (max-width: 768px) {

}
