.comment {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding-left: 15px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-profile-picture {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 15px;
}
.comment-profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.comment-user-details {
    flex: 1;
}

.comment-user-details h4 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}
.comment-user-email {
    text-decoration: none;
}
.comment-header:hover h4 {
    color: #17a2b8;
}
.comment-user-details p {
    margin: 0;
    color: #888;
    font-size: 0.875rem;
}

.comment-content {
    font-size: 0.9em;
    color: #555;
    padding-left: 55px;
}
