.group-post {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-content-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.post-content-img {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.post-content-img img {
	max-width: 100%;
	max-height: 500px;
	height: auto;
	border-radius: 8px;

	object-fit: cover;
}

.group-post-user-email {
	text-decoration: none;
	color: #333;
}

.group-post-header:hover .group-post-user-email {
	text-decoration: none;
	color: #17a2b8;
}

.group-post-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}




.group-post-profile-picture {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ccc;
}
.group-post-profile-picture img {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}




.group-post-user-details h3 {
	margin: 0;
	font-size: 1rem;
}

.group-post-user-details p {
	margin: 0;
	color: #888;
	font-size: 0.875rem;
}

.group-post-content {
	margin-bottom: 10px;
}

.group-post-footer {
	display: flex;
}

.group-post-button {
	align-self: center;
	padding: 10px 20px;
	background-color: #17a2b8;
	color: white;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 8px;
}

.group-post-button svg {
	margin-right: 5px;
}

.group-post-button:hover {
	color: #333;
}

.group-postComments-section {
	margin-top: 15px;
}

.add-comment {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.add-comment input {
	flex: 1;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.add-comment button {
	background-color: #17a2b8;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.add-comment button:hover {
	background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
	.group-post-button {
		font-size: 0.75rem;
		padding: 0.6em 1em;
	}

	.add-comment button {
		padding: 0.4em 0.8em;
	}
}
