.group-membership-item-friend {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    background-color: #f9f9f9;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 5px;
}

.group-membership-item-friend:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/* box contain member picture and detail */
.group-membership-item-friend-header {
    display: flex;
    align-items: center;
}

.group-membership-item-friend-picture {
    display: flex;
    align-content: center;
}

.group-membership-item-friend-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.group-membership-item-friend-details {
    /*border: 1px solid black;*/
    margin-left: 10px;
}
.group-membership-item-friend-details a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.group-membership-item-friend-details p {
    margin: 0;
    color: #666;
}



/* box contain delete button */
.group-membership-item-friend-actions {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-grow: 1;
}

.group-membership-item-delete-button {
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
}

.group-membership-item-delete-button:hover {
    background-color: #da190b;
}