.group-post-creation {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.group-post-creation-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
    padding: 0;
}





.group-post-creation-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.group-post-user-details h2 {
    margin: 0;
    font-size: 1rem;
}










.group-post-creation-container textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical; /* allow user adjust vertically */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    font-size: 1rem;
    font-family: inherit;
    color: #333;


    margin: 0;
    width: 100%;
    min-height: 100px;
    padding: 10px;
}












.group-post-creation-image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px dashed #ddd;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.group-post-creation-image-upload label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #7e7e7e;
    font-size: 1.5rem;
}
.group-post-creation-image-upload input[type="file"] {
    display: none;
}







.group-post-creation-button {
    align-self: center;
    padding: 10px 20px;
    background-color: #5e71e3 !important;
    color: #fff;
    width: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;

    font-size: 18px;
    font-weight: bold;
}












.group-post-creation-close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #6b6b6b;
    font-size: 30px;
}
.group-post-creation-close-button:hover {
    outline: none;
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.3);
}




