/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    box-sizing: border-box;

    /*border: 1px solid black;*/
}

.main-content {
    width: 100%;
    border-radius: 8px;
    overflow-y: auto;

    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.location-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
input[type="text"] {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}









/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px dashed #ddd;
    border-radius: 4px;
    cursor: pointer;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! public CSS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.image-upload span {
    font-size: 24px;
}


@media (max-width: 768px) {

}
