stages:
  - build
  - test

build_frontend:
  stage: build
  image: node:16
  script:
    - cd src/main/java/com/group2/Tiger_Talks/frontend/build/
    - npm install
    - npm run build
  artifacts:
    paths:
      - src/main/java/com/group2/Tiger_Talks/frontend/build/


build_backend:
  stage: build
  image: maven:3.8.4-openjdk-17
  script:
    - mvn clean install -DskipTests
  artifacts:
    paths:
      - target/*.jar


test_backend:
  stage: test
  image: maven:3.8.4-openjdk-17
  script:
    - mvn clean verify
  artifacts:
    paths:
      - target/site/jacoco
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
  dependencies:
    - build_backend
