.table-container {
    flex: 1;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
}

th {
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    text-align: left;
}

