.post-creation {
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;
	padding: 20px;

	margin-bottom: 20px;
	/*margin-top: 10px;*/

	box-sizing: border-box;
}

.post-creation-container {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	width: 100%;
	padding: 0;
}








.post-creation-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px; /* adjust */
}

.post-user-details h2 {
	margin: 0;
	font-size: 1rem;
}










.post-creation-container textarea {
	border: 1px solid #ddd;
	border-radius: 4px;
	resize: vertical; /* allow user adjust vertically */
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;

	font-size: 1rem;
	font-family: inherit;
	color: #333;


	margin: 0;
	width: 100%;
	min-height: 100px;
	padding: 10px;
}












.post-creation-image-upload {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px dashed #ddd;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}
.post-creation-image-upload label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: #17a2b8;
	font-size: 1.5rem;
}
.post-creation-image-upload input[type="file"] {
	display: none;
}







.post-creation-button {
	align-self: center;
	padding: 10px 20px;
	background-color: #17a2b8;
	color: #fff;
	width: 100px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}



