.post {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	width: 1000px; /* width of a real post */
}

.post-user-email {
	text-decoration: none;
	color: #333;
}

.real-post-header:hover .post-user-email {
	text-decoration: none;
	color: #17a2b8;
}

.real-post-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}




.real-post-profile-picture {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.real-post-profile-picture img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}




.post-user-details h3 {
	margin: 0;
	font-size: 1rem;
}

.post-user-details p {
	margin: 0;
	color: #888;
	font-size: 0.875rem;
}

.post-content {
	margin-bottom: 10px;
	display: flex;
    align-items: center;
    position: relative;
}
.edited-text {
    margin-left: 10px; 
    font-size: 0.9em;  
    color: rgb(128, 128, 128);
}

.post-footer {
	display: flex;
}

.post-button {
	align-self: center;
	padding: 10px 20px;
	background-color: #17a2b8;
	color: white;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 8px;
}

.post-button svg {
	margin-right: 5px;
}

.post-button:hover {
	color: #333;
}

.comments-section {
	margin-top: 15px;
}

.add-comment {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.add-comment input {
	flex: 1;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.add-comment button {
	background-color: #17a2b8;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.add-comment button:hover {
	background-color: #0056b3;
}



@media (max-width: 768px) {

}
