.post {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;

	padding: 20px;

	box-sizing: border-box;
}
.post-container-template {

}




.real-post-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}


.real-post-header:hover .post-user-email {
	text-decoration: none;
	color: #007bff;
}
.post-user-email {
	text-decoration: none;
	color: #333;
	position: relative;
}








.post-user-details h3 {
	margin: 0;
	font-size: 1rem;
}

.post-user-details p {
	margin: 0;
	color: #888;
	font-size: 0.875rem;
}

.post-content {
	margin-bottom: 10px;
	display: flex;
    align-items: center;
    position: relative;
	word-break: break-word;
}
.edited-text {
    margin-left: 10px; 
    font-size: 0.9em;  
    color: rgb(128, 128, 128);
}





/* button box: contain all the post function buttons */
.post-function-button-box {
	display: flex;
}
.post-button {
	align-self: center;
	background-color: #ffffff;
	color: #8a8a8a;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 18px;
	padding: 0 15px 0 15px;
	border: none !important; /* avoid the influence of father css */
	transition: color 0.3s ease, background-color 0.3s ease;
}
.post-button svg {
	margin-right: 4px;
	/*border: 1px solid black;*/
}
.post-button:hover {
	color: #212121;
}






.comments-section {
	margin-top: 15px;
}





.post-add-comment {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.post-add-comment input {
	flex: 1;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.post-add-comment button {
	background-color: #17a2b8;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 3px;
}
.post-add-comment button:hover {
	background-color: #0056b3;
}




.post-tag {
	display: inline-block;
	background-color: #17a2b8;
	color: #fff;
	padding: 5px 10px;
	border-radius: 15px;
	margin-right: 5px;
	margin-top: 5px;
	cursor: pointer;
}







.post-content-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.post-content-img {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.post-content-img img {
	max-width: 100%;
	max-height: 500px;
	height: auto;
	border-radius: 8px;
	object-fit: cover;
}





@media (max-width: 768px) {

}
