/* friend search bar */
.friend-list-search-bar {
    width: 550px;
    margin-bottom: 20px;
    margin-top: 40px;

    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.friend-list-search-bar input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}







.friend-list-content {
    width: 100%;
    border-radius: 8px;
}

.no-friends {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}










.friend-request-page-search-and-create {
    display: flex;
    align-items: center;
    justify-content: left;
}
.friend-request-page-button {
    background: #333;
    color: #fff;

    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 60px;


    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    width: 150px;
    justify-content: center;
    transition: background 0.3s ease;
}
.friend-request-page-button:hover {
    background-color: #626262;
}

@media (max-width: 768px) {

}
