#friend-message-page {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}




.friend-message-content-container {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px);
}






.friend-list {
    width: 250px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    border-right: none;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}
.friend-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.friend-list li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    transition: background-color 0.2s ease;
    background-color: transparent;

}
.friend-list li:hover, .friend-list li.selected {
    background-color: rgba(0, 0, 0, 0.1);
}








.friend-message-friend {
    margin: 10px 0;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.2s ease;
}
.friend-message-friend:hover {
    background-color: transparent;
}

.friend-message-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}







.friend-message-details div {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;

    display: inline-block;      /* important block, to have ... for too long userName */
    overflow: hidden;           /* important block, to have ... for too long userName */
    white-space: nowrap;        /* important block, to have ... for too long userName */
    text-overflow: ellipsis;    /* important block, to have ... for too long userName */
    max-width: 140px;           /* important block, to have ... for too long userName */
}
.friend-message-details p {
    margin: 0;
    color: #666;
}













.chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    max-width: 75%;
    min-width: 500px;
}
.chat-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: none;
}

.chat-header-inner-box {
    display: inline-block;
}







.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
}
.empty-message-text {
    font-size: 1.2em;
    color: #999;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    background-color: #f0f0f5;
    padding: 10px;
    border-radius: 10px;
}
.message-left, .message-right {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.message-left {
    justify-content: flex-start;
}
.message-right {
    justify-content: flex-end;
}

.message-bubble {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;

    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.message-left .message-bubble {
    background-color: #93c7e6;
    margin-left: 10px;
}
.message-right .message-bubble {
    background-color: #a1e686;
    margin-right: 10px;
}










.friend-message-friend-picture {
    display: flex;
    align-content: center;
}
.friend-message-friend-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}














.message-input {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
.emoji-button, .send-button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.emoji-button:hover, .send-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 10px;
    font-size: 18px;
    line-height: 1.5;
}




.emoji-picker-modal {
    position: absolute;
    bottom: 60px;
    left: 10px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}



