.friend-message-friend {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.friend-message-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.friend-message-content-container {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px);
}

.friend-list {
    width: 25%;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    height: 100%;
}

.friend-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friend-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.chat-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

.message-left, .message-right {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-left {
    justify-content: flex-start;
}

.message-right {
    justify-content: flex-end;
}

.message-bubble {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.message-left .message-bubble {
    background-color: #93c7e6;
    margin-left: 10px;
}

.message-right .message-bubble {
    background-color: #a1e686;
    margin-right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-input {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.emoji-button, .send-button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 10px;
}






.friend-message-friend-picture {
    display: flex;
    align-content: center;

    border: 1px solid black;
}
.friend-message-friend-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}







