.search-content-container {
	width: 85%;
}
.search-content-section {
	max-height: 600px;
	overflow: scroll;
}
.global-search-group-list {
	margin: 0 8%;
}
.filter-button {
	margin-right: 5px;
	background-color: #17a2b8;
}
.filter-button:hover {
	color: #333;
}
