.admin-content {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*border: 1px solid black;*/
}

.admin-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.delete-user-button,
.toggle-user-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.delete-user-button:hover,
.toggle-user-button:hover {
    background-color: #0056b3;
}

.delete-user-button:disabled,
.toggle-user-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {

}