.admin-content {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*border: 1px solid black;*/
}

.admin-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


@media (max-width: 768px) {

}