
.group-create-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    height: 100vh;
}
.group-create-nav{
    width: 15%;
}
.group-create-wrapper{
    margin-top: 4%;
    display: flex;
    width: 100vw; 
    height: 100vh;
    overflow: auto;
    
}

.group-create-form{
    width: 55%;
    padding-top: 5%;
    margin: 0 auto;
}

  
@media (max-width: 768px) {
  
    .group-create-form {
      margin-left: 0;
      padding: 10px;
      margin-top:15%;
    }
  }
  