/*Drop Down*/

.search-results-dropdown-header {
	position: absolute;
	top: 100%;
	right: 1%;
	z-index: 100;
	background-color: white;
	border: 1px solid #ddd;
	border-top: none;
	width: 21%;
	max-height: 500px;
	overflow-y: auto;
	border-radius: 3px;
}

.search-result-item {
	cursor: pointer;
	border-radius: 8px;
	background-color: #fff;
	transition: background-color 0.3s ease, transform 0.3s ease;
	margin: 5px 0;
}

.search-result-item:hover {
	background-color: #f0f0f0;
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.profile-header {
	display: flex;
	align-items: center;
}

.profile-user-picture {
	margin-right: 15px;
}

.profile-user-picture img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.profile-info {
	flex: 1;
}

.profile-name-status {
	display: flex;
	align-items: center;
}

.profile-name-status h3 {
	margin: 0;
	font-size: 1rem;
	color: #333;
}

.profile-name-status .status-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 5px;
	display: inline-block;
}

/* Member */
.search-results-dropdown-member {
	background-color: white;
	border: 1px solid #ddd;
	border-top: none;
	width: 100%;
	max-height: 500px;
	overflow-y: auto;
	border-radius: 3px;
}
