.friend-list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    height: 100vh;
}

.friend-list-nav {
    width: 15%;
}

.content {
    margin-top: 4%;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.friend-list-content {
    width: 75%;
    border-radius: 8px;
}

.no-friends {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

@media (max-width: 768px) {
    .friend-list-navbar {
        position: static;
        width: 100%;
        height: auto;
    }

    .friend-list-content {
        margin-left: 0;
        padding: 10px;
        margin-top: 14%;
    }
}
