.group-navbar {
    padding-top: 5%;
    background-color: #f7f7f7;
    height: 100vh;
    width: 15%;
    position: fixed;
    
  
  }
  
  .group-links a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ddd;
  }
  
  .group-links a svg {
    margin-right: 10px;
  }
  
  .group-links a:hover {
    background-color: #ddd;
    border-radius: 4px;
  }
  