.group {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 100px;
}

.group-header {
	display: flex;
	align-items: center;
	height: 100px;
	width: 100%;
}
.group-creator-details {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;

	grid-row-gap: 10px;
	width: 10%;
}
.group-creator-details:hover {
	color: #17a2b8;
}

.one-group-background-image {
	cursor: pointer;
	width: 85%;
	height: 100%;
}

.one-group-background-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.group-action {
	width: 10%;
}

.group-creator-details a {
	margin: 0;
	font-size: 1rem;
}

.group-creator-details p {
	margin: 0;
	color: #888;
	font-size: 0.875rem;
}

.group-footer {
	display: flex;
}

.group-action:hover {
	background: #0056b3;
}

.group-action {
	width: 5%;
	height: 100%;
	display: flex;
	border-radius: 0 4px 4px 0;

	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 15px;
}

.group-action.join {
	background: #2dc550; /* Green */
	color: white;
}
.group-action.settings {
	background: #ffc107; /* Yellow */
	color: white;
}

.group-action.leave {
	background: #f12338; /* Red */
	color: white;
}
.group-action-text {
}
.group-action.join:hover {
	background: #218838;
}
.group-action.settings:hover {
	background: #e0a800; /* Darker yellow */
}

.group-action.leave:hover {
	background: #c82333;
	font-weight: bold;
}
