.group-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    height: 100vh;
  }
  .group-nav{
    width: 15%;
  }
  .content {
    margin-top: 4%;
    display: flex;
    width: 100vw; 
    height: 100vh;
    overflow: auto;
    
    
  }
  .group-content {
    width: 75%;
    border-radius: 8px;
  
  }
  
  @media (max-width: 768px) {
    .group-navbar {
      position: static;
      width: 100%;
      height: auto;
    }
  
    .group-content {
      margin-left: 0;
      padding: 10px;
      margin-top:14%;
    }
  }
  