.header {
	display: flex;

	align-items: center;
	background-color: #333;
	color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	height: 7%;
	z-index: 1000;
}

.header-title {
	width: 40%;
	padding-left: 2%;
}

.home-link {
	text-decoration: none;
	color: white;
}

.notification-button {
	width: 20%;
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.header {
		grid-template-columns: 1fr;
		justify-items: center;
		padding: 10px;
	}

	.header h1 {
		order: 1;
		position: static;
		margin-bottom: 10px;
	}

	.notification-button {
		order: 3;
		position: static;
	}

	.search-bar {
		order: 2;
		width: 80%;
		margin-top: 10px;
	}

	.search-bar input {
		width: 80%;
	}

	.search-bar button {
		width: auto;
	}
}
