.notification-popup {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.notification-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notification-popup li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: black;
    border-bottom: 1px solid #ddd;
}

.notification-popup li:last-child {
    border-bottom: none;
}

.notification-popup .notification-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.notification-popup .notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-popup .notification-time {
    color: rgb(128, 128, 128);
    font-size: 0.8em;
    margin-top: 5px;
}

.notification-popup .notification-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .notification-popup {
        position: fixed;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1200;
        width: 150px;
        max-height: 50%;
    }
}

.notification-popup .notification-empty {
    padding: 20px;
    text-align: center;
    color: #0e0a0a;
}