.notification-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-popup li {
  padding: 10px;
  color: black;
  border-bottom: 1px solid #ddd;
}

.notification-popup li:last-child {
  border-bottom: none;
}



@media (max-width: 768px) {
  .notification-popup {
    position: fixed;
    top: 5%;
    z-index: 1200;
    width: 150px;
    left:75%
  }
}