.post-creation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
}
.profile-picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
object-fit: cover;
}
textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.location-and-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px dashed #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.image-upload span {
  font-size: 24px;
}

.post-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
