.post {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-user-email {
	text-decoration: none;
	color: #333;
}

.post-header:hover .post-user-email {
	text-decoration: none;
	color: #17a2b8;
}

.post-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.profile-picture {
	margin-right: 10px;
}

.profile-picture img {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.post-user-details h3 {
	margin: 0;
	font-size: 1rem;
}

.post-user-details p {
	margin: 0;
	color: #888;
	font-size: 0.875rem;
}

.post-content {
	margin-bottom: 10px;
}

.post-footer {
	display: flex;
}

.post-button {
	background: none;
	border: none;
	color: #888;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 1rem;
	margin-right: 5px;
}

.post-button svg {
	margin-right: 5px;
}

.post-button:hover {
	color: #333;
}

.comments-section {
	margin-top: 15px;
}

.add-comment {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.add-comment input {
	flex: 1;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.add-comment button {
	background-color: #17a2b8;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.add-comment button:hover {
	background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
	.post-button {
		font-size: 0.75rem;
		padding: 0.6em 1em;
	}

	.add-comment button {
		padding: 0.4em 0.8em;
	}
}
