.profile-navbar {
	background-color: #f7f7f7;
	height: 100vh;
	width: 15%;
	position: fixed;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	font-family: "Arial", sans-serif;
}
.profile-user-picture img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-header {
	display: flex;
	padding: 20px;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
}

.profile-user-picture {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ccc;
	margin-right: 15px;
}

.profile-info h3 {
	margin: 0;
	font-size: 18px;
	color: #333;
}

.profile-info p {
	margin: 0;
	color: #888;
	font-size: 14px;
}

.profile-detail-container {
	width: 100%;
	font-size: 15px;
	color: #555;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.profile-detail {
	padding: 10px 15px;
	font-size: 15px;
}

.profile-detail strong {
	color: #333;
	font-weight: 600;
}

.profile-links {
	margin-top: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.profile-links a {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	color: #333;
	text-decoration: none;
	margin-bottom: 15px;
	transition: background-color 0.3s;
	font-size: 16px;
}

.profile-links a svg {
	margin-right: 10px;
}

.profile-links a:hover {
	background-color: #e0e0e0;
}

@media (max-width: 768px) {
	.profile-navbar {
		width: 100%;
		height: auto;
		position: static;
		box-shadow: none;
	}

	.profile-header {
		justify-content: center;
		border-bottom: none;
		padding: 10px;
	}

	.profile-detail-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.profile-links {
		flex: 1; 
		flex-direction: row;
		left:37%;
		transform: translateY(-550%);
		position: fixed;
		z-index: 1100;
		margin-top: 0;
	}
	.profile-links a {
		margin-bottom: 0;
		color: #fff;
	}
	.profile-links a:hover {
		background-color: #939191;
	}
}
