.profile-settings-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f2f5;
	height: 100vh;
}

.profile-settings-nav {
	width: 15%;
}

.profile-settings-wrapper {
	margin-top: 4%;
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.profile-settings-form {
	width: 55%;
	padding-top: 2%;
	margin: 0 auto;
	overflow: scroll;
}

@media (max-width: 768px) {
	.profile-settings-nav {
		position: static;
		width: 25%;
		padding: 20px;
	}

	.profile-settings-form {
		padding: 10px;
		margin-top: 15%;
	}
}
