.profile-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f2f5;
	height: 100vh;
}

.profile-nav {
	height: 100vh;
	width: 15%;
}

.profile-content {
	margin-top: 6vh;
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.profile-main-content {
	height: 100vh;
	width: 85%;
	display: flex;
	flex-direction: column;
}

.profile-page-user-info {
	height: 30%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-page-user-info-container {
	display: flex;
	width: 100%;
}

.profile-page-user-info-picture-container {
	width: 200px; /* Set a fixed width */
	height: 200px; /* Set a fixed height */
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-page-user-info-picture {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-page-user-info-picture img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile-page-user-info-text {
	width: 70%;
	padding-left: 3%;
}

.profile-page-user-info-text h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.profile-button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 10px 10px 10px 0;
	border-radius: 5px;
	cursor: pointer;
}

.profile-button:hover {
	background-color: #555;
}

.profile-stats {
	display: flex;
	gap: 20px;
}

.profile-stats span {
	font-size: 16px;
}

.profile-content-post-list {
	height: 70%;
	width: 100%;
	display: flex;
}
.profile-page-profile-name-status {
	display: flex;

	align-items: center;
	width: 100%;
}
.profile-page-status-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 8px;
}
.profile-content-post {
	display: flex;
	flex-direction: column;
	width: 90%;
}

@media (max-width: 768px) {
	.profile-nav {
		position: static;
		width: 100%;
		height: 150vh;
		padding: 20px;
	}

	.profile-main-content {
		margin-left: 0;
		padding: 10px;
		margin-top: 16%;
		width: 55%;
	}
}
