/* Header */
.search-bar-header {
	display: flex;
	width: 40%;
	justify-content: end;
	padding-right: 2%;
}

.search-bar-header-input {
	width: 50%;
	border-radius: 4px;
}
/* Member */

.search-bar-member {
	width: 40%;
	border-radius: 4%;
}

.search-bar-friend {
	width: 30%;
	border-radius: 4%;
}
