SearchBar.css .search-bar {
	display: flex;
	width: 25%;
	align-items: center;
}

.search-bar .search-input {
	padding: 5px 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-right: 10px;
}

.search-bar .search-button {
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	background-color: #17a2b8;
	color: white;
	cursor: pointer;
}

.search-bar .search-button:hover {
	background-color: #138496;
}

.search-results-dropdown {
	position: absolute;
	top: 100%;
	right: 5%;
	z-index: 100;
	background-color: white;
	border: 1px solid #ddd;
	border-top: none;
	width: 21%;
	max-height: 500px;
	overflow-y: auto;
	border-radius: 3px;
}

.search-result-item {
	cursor: pointer;
	border-radius: 8px;
	background-color: #fff;
	transition: background-color 0.3s ease, transform 0.3s ease;
	margin: 5px 0;
}

.search-result-item:hover {
	background-color: #f0f0f0;
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
