.profile-main-content {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.profile-page-user-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid red;*/
}

.profile-page-user-info-container {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	/*border: 3px solid blue;*/
}









/************************* This section refers to profile picture *************************/
/* This is the outside box of the profile picture*/
.profile-page-user-info-picture-container {
	position: relative;
	width: 200px; /* Set a fixed width */
	height: 200px; /* Set a fixed height */
	margin-left: 3%;
	transition: transform 0.3s ease;
}
.profile-page-user-info-picture-container:hover {
	transform: scale(1.05);
}

/* Real Profile picture */
.profile-page-user-info-picture {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

/* The grey background button to change profile picture
   (when you move your mouse onto the profile picture) */
.profile-picture-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.3s ease;
	cursor: pointer;
	border-radius: 50%;
}
.profile-page-user-info-picture-container:hover .profile-picture-overlay {
	opacity: 1;
}
/* camera icon in the profile picture */
.profile-picture-overlay-icon {
	color: white;
	font-size: 3em;
}
/* When uploading picture show the info in the middle of the profile picture */
.profile-picture-uploading-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 1em;
	z-index: 10;
}
/******************************************* END *******************************************/










/* A box contain profile status(offline, online, busy, ...) and status setting menu */
.profile-page-user-info-text {
	width: 70%;
	padding-left: 2%;

	/*border: 1px solid black;*/
}
.profile-status-and-edit-button-box {
	display: flex;
}





/* edit profile or unfollow follow button (when you see other people's account) */
.edit-profile-button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 10px 10px 10px 0;
	border-radius: 5px;
	cursor: pointer;
	width: 140px;
}
.edit-profile-button:hover {
	background-color: #626262;
}










/************************** Post number, age, gender, role, etc. **************************/
.profile-personal-information {
	display: flex;
	gap: 20px;
}
.profile-personal-information span {
	font-size: 16px;
}

.profile-biography-paragraph {
	word-break: break-all;
	/*border: 1px solid black;*/
}




@media (max-width: 768px) {

}
