.profile-main-content {
	margin-top: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;

	/*border: 1px solid black;*/
}

.profile-page-user-info {
	height: 30%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-page-user-info-container {
	display: flex;
	width: 100%;
}









/************************* This section refers to profile picture *************************/
/* This is the outside box of the profile picture*/
.profile-page-user-info-picture-container {
	position: relative;
	width: 200px; /* Set a fixed width */
	height: 200px; /* Set a fixed height */
	margin-left: 3%;
	transition: transform 0.3s ease;
}
.profile-page-user-info-picture-container:hover {
	transform: scale(1.05);
}

/* Real Profile picture */
.profile-page-user-info-picture {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

/* The grey background button to change profile picture
   (when you move your mouse onto the profile picture) */
.profile-picture-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.3s ease;
	cursor: pointer;
	border-radius: 50%;
}
.profile-page-user-info-picture-container:hover .profile-picture-overlay {
	opacity: 1;
}
/* camera icon in the profile picture */
.profile-picture-overlay-icon {
	color: white;
	font-size: 3em;
}
/* When uploading picture show the info in the middle of the profile picture */
.profile-picture-uploading-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 1em;
	z-index: 10;
}
/******************************************************************************************/









.profile-page-user-info-text {
	width: 70%;
	padding-left: 2%;
}

.profile-page-user-info-text h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.profile-button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 10px 10px 10px 0;
	border-radius: 5px;
	cursor: pointer;
	width: 120px;
}

.profile-button:hover {
	background-color: #626262;
}

.profile-stats {
	display: flex;
	gap: 20px;
}

.profile-stats span {
	font-size: 16px;
}


.profile-content-post-list {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-page-profile-name-status {
	display: flex;

	align-items: center;
	width: 100%;
}

.profile-page-status-icon {
	display: inline-block;
	margin-left: 8px;
	margin-top: 6px;
}

.profile-content-post {
	display: flex;
	flex-direction: column;
	width: 100%; /* width of the box wrap several posts */
	align-items: center;
	justify-content: center;

	/*border: 1px solid black;*/
}

@media (max-width: 768px) {

}
