.security-page {
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    margin-top: 20px;
    padding: 20px;
    width: 500px;
}

.security-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.security-form h3 {
    margin-bottom: 10px;
    color: #333;
}

.security-form input,
.security-form select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.security-form button {
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.security-form button:hover {
    background-color: #3071d1;
}




.security-form .error-css {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    padding-left: 5px;
}