/* group search bar */
.group-page-search-bar {
	width: 550px;
	margin-bottom: 40px;
	border-radius: 25px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}
.group-page-search-bar input {
	width: 100%;
	padding: 12px 20px;
	border: none;
	border-radius: 25px;
	outline: none;
	font-size: 16px;
	box-sizing: border-box;
	transition: box-shadow 0.3s ease;
}
.group-page-search-bar:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.group-page-search-bar input:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



/* create group button */
.create-group-button {
	background: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	transition: background 0.3s ease;

	cursor: pointer;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 10px 20px;
	width: 180px;
	/*height: 24px;*/
	margin-bottom: 40px;
}
.create-group-button:hover {
	background-color: #626262;
}


/* box contain search bar and create group button */
.group-page-search-and-create {
	display: flex;
	align-items: center;
	justify-content: space-between;

	/*border: 1px solid red;*/
}




/* box contain group-page-search-and-create and group-list-container */
.group-page-content-control {
	margin-top: 50px; /* control the distance between content to the header bar*/
	width: 100%;
	border-radius: 8px;

	/*border: 1px solid black;*/
}





/* box contain each group items */
.group-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 30px;

	/*border: 1px solid red;*/
}


/* box that contain group-content */
.group-list-container {
	flex-grow: 1;
	overflow: scroll;
}




/* view more, view less button */
.toggle-groups {
	cursor: pointer;
	color: #3c95f5;
	text-decoration: underline;
	margin-top: 10px;
	transition: color 0.3s ease;
}
.toggle-groups:hover {
	color: #791eb7;
}





.no-groups {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color: #555;
}

@media (max-width: 768px) {

}
