
.group-page-search-bar {
	width: 50%;
	margin-bottom: 20px;
}

.group-content-container {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.group-list-container {
	flex: 1;
	overflow: scroll;
}

.group-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/*gap: 20px;*/
}

.toggle-groups {
	cursor: pointer;
	color: #3c95f5;
	text-decoration: underline;
	margin-top: 10px;
	transition: color 0.3s ease;
}

.toggle-groups:hover {
	color: #791eb7;
}

@media (max-width: 768px) {

}
