
.group-content-container {
    display: flex;
    width: 75%;
    flex-direction: column;
}

.group-details-header {
    width: 100%;
    height: 40%;
}
.group-background-image {
    width: 100%;
    height: 80%;
}
.group-background-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.group-content-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}
.group-content-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.group-content-nav h1 {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.group-content-nav p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.group-content-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.group-content-nav ul li {
    font-size: 1em;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.group-member-actions-container {
    height: 5%;
    margin: 1% 0;
}
.group-member-actions {
    display: flex;
}

.group-content-nav ul li.setting li.delete li.members {
    margin-left: auto; /* Push the setting to the far right */
}
.group-link {
    text-decoration: none;
    color: #17a2b8;
    cursor: pointer;
}
.member-status,
.join-group-button,
.leave-group-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2dc550;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-group-button:hover,
.leave-group-button:hover {
    background-color: #0056b3;
}

.leave-group-button {
    background-color: #dc3545;
}
.member-status {
    background-color: #17a2b8;
    cursor: default;
    margin-right: 1%;
}
.leave-group-button:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {

}
