.group-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;

    border: 5px solid green;
}

.group-details-header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;

    border: 3px solid blue;
}



.group-background-image {
    margin: 10px 20px 10px 10px;
    overflow: hidden;
    flex-shrink: 0;
    width: 120px;       /* real width of the group image */
    height: 120px;      /* real height of the group image */
    border-radius: 20px;
}
.group-background-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}






.group-content-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: left;*/
    align-items: flex-start;
    min-width: 0;
}
































.join-group-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2dc550;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.join-group-button:hover {
    background-color: #0056b3;
}




.group-post-container {
    overflow-y: auto;
    flex-grow: 1;
}

@media (max-width: 768px) {

}







/* a box contain group name and status icon */
.group-name-and-status-icon-and-member-more-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* crucial property*/
}
.group-name-and-status-icon-and-group-info-box {
    display: flex;
    flex-direction: column;
}
.group-name-and-status-icon-and-group-info-up {
   display: flex;
    align-items: center;
}
.group-name-and-status-icon-and-group-info-icon {
    font-size: 25px; /* size of the lock/unlock icon */
    margin-left: 15px;
}
.group-name-and-status-icon-and-group-info-up h1 {
    margin: 0;
}
.group-name-and-status-icon-and-group-info-down {
    margin-top: 5px;
    display: flex;
    gap: 16px; /* !: gap between Posts and Members */
}
.group-name-and-status-icon-and-group-info-down span{
    font-weight: bold;
}
/*********************************************/

.group-member-and-more-icon-right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}



.group-icon-button-view-group-page {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 30px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.group-icon-button-view-group-page:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}
.group-icon-button-view-group-page:active {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}




.group-member-list-button-and-menu-show {
    position: relative;
    display: inline-block;
}
