/* Forgot Password Page */
.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.forgot-password-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.forgot-password-card h1 {
    margin-bottom: 20px;
    color: #17a2b8;
    font-size: 24px;
}

.forgot-password-card p {
    margin: 10px 0;
    color: #6c757d;
}


.forgot-password-card input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.forgot-password-card input:focus {
    border-color: #17a2b8;
    outline: none;
}

.forgot-password-card button {
    padding: 10px;
    background-color: #fd7e14;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.forgot-password-card button:hover {
    background-color: #dc6a10;
    transform: translateY(-3px);
}

.verification-options-container {
    display: flex;
    justify-content: space-around;
}

.verification-options-container button {
    padding: 10px 20px;
    width: 160px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.verification-options-container .email-verification-button {
    background-color: #28a745;
    color: white;
}

.verification-options-container .email-verification-button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

.verification-options-container .security-questions-button {
    background-color: #fd7e14;
    color: white;
}

.verification-options-container .security-questions-button:hover {
    background-color: #dc6a10;
    transform: translateY(-3px);
}









/* Email Verification Page */
.email-verification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.email-verification-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.email-verification-card h1 {
    margin-bottom: 20px;
    color: #17a2b8;
    font-size: 24px;
}

.email-verification-card form {
    gap: 15px;
}

.email-verification-card input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.email-verification-card input:focus {
    border-color: #17a2b8;
    outline: none;
}

.email-verification-card button {
    padding: 10px;
    background-color: #fd7e14;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.email-verification-card button:hover {
    background-color: #dc6a10;
    transform: translateY(-3px);
}








/* Security Question Page */
.security-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.security-questions-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.security-questions-card h1 {
    margin-bottom: 20px;
    color: #17a2b8;
    font-size: 24px;
}

.security-questions-card form {
    gap: 15px;
}

.security-questions-card select,
.security-questions-card input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.security-questions-card input:focus,
.security-questions-card select:focus {
    border-color: #17a2b8;
    outline: none;
}

.security-questions-card button {
    padding: 10px;
    background-color: #fd7e14;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.security-questions-card button:hover {
    background-color: #dc6a10;
    transform: translateY(-3px);
}









/* Reset Password Page */
.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.reset-password-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.reset-password-card h1 {
    margin-bottom: 20px;
    color: #17a2b8;
    font-size: 24px;
    text-align: center;
}

.reset-password-card form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.reset-password-card label {
    text-align: left;
    font-weight: bold;
    color: #495057;
    margin-bottom: 5px;
}

.reset-password-card input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.reset-password-card input:focus {
    border-color: #17a2b8;
    outline: none;
}

.reset-password-card button {
    padding: 10px;
    background-color: #fd7e14;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    margin-top: 15px;
}

.reset-password-card button:hover {
    background-color: #dc6a10;
    transform: translateY(-3px);
}



