.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.login-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-card h2 {
    margin-bottom: 10px;
    color: #17a2b8;
}

.login-card-second-title {
    margin: 10px 0;
    color: #6c757d;
}



form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #fd7e14;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #dc6a10;
}

.additional-links {
    margin-top: 15px;
}

.additional-links a {
    color: #007bff;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

.additional-links p {
    margin: 5px 0;
}








/* anime */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    position: fixed;
    top: 0;
    left: 0;
}

.loading-dots {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-dots span {
    animation: bounce 1.4s infinite;
    display: inline-block;
    margin: 0 5px;
    color: #333;
}
.loading-dots span:nth-child(1) {
    animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
}


