.search-groups-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}




/* box include background image and group name, also with hyper link to a specific group page*/
.search-groups-group-header {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;  	/*width of one group box*/
    height: 200px;	/*height of one group box*/

    /*border: 1px solid black;*/
}
.search-groups-group-header:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* group name and other text information */
.search-groups-group-creator-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.search-groups-group-creator-details a {
    margin: 0;
    font-size: 1rem;
}
.search-groups-group-creator-details p {
    margin: 0;
    color: #888;
    font-size: 0.875rem;
}




/* group figure box */
.search-groups-one-group-background-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    border-radius: 8px;
}
/* group figure */
.search-groups-one-group-background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}











.search-groups-group-action-button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.group-button {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    color: #333;

    font-size: 16px;
    min-width: 130px;
    padding: 10px 20px;
}

.group-button.join {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

.group-button.join:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.group-button.joined {
    background-color: #e0e0e0;
    border-color: #d6d6d6;
    color: #888;
    cursor: not-allowed;
}

.group-button.joined:hover {
    background-color: #e0e0e0;
    color: #888;
    box-shadow: none;
}






