.group-links {
    width: 15%;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 3%;

}

.group-links a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.group-links a svg {
    margin-right: 10px;
}

.group-links a:hover {
    background-color: #ddd;
    border-radius: 4px;
}


@media (max-width: 768px) {
    .group-links {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        left: 35%;
        transform: translateY(-30%);
        position: fixed;
        z-index: 1100;
        margin-top: 0;
    }

    .text-hide {
        display: none;
    }

    .group-navbar a {
        margin-bottom: 0;
        color: #fff;
    }

    .group-navbar a:hover {
        background-color: #939191;
    }

}
  