.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    height: 100vh;
}

.content {
    margin-top: 4%;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.sidebar {
    width: 15%;
    transition: all 0.3s ease;
}

.main-content {
    width: 75%;
    border-radius: 8px;
    overflow: scroll;
    padding-top: 60px;
}

.post-creation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.location-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px dashed #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.image-upload span {
    font-size: 24px;
}


@media (max-width: 768px) {

}
